body {
  background-color: #d8eaf0;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #19198c;
}

a:visited {
  color: #19198c;
}

.container {
  width: 60%;
  overflow: hidden;
  margin-left: 20%;
}

/*NAV BAR*/
.navbar {
  margin-bottom: 6.5%;
  list-style-type: none;
  padding: 0;
  word-spacing: 80px;
}

.navbar li{
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;
  color: #0b7696;
}

.navbar li:hover {
  background-color: #f8f8f8;
  border-radius: 2px;
}

/*HEADER AND HEADER PIC*/
header {
  text-align: center;
  margin-bottom: 15%;
}

header img {
  width: 50%;
  height: 100%;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
}

header span {
  font-family: 'Amatica SC', cursive;
  font-size: 2.2em;
}


/*MAIN CONTENT*/
h1 {
  text-align: center;
  background-color: black;
  width: 35%;
  border-radius: 3px;
  color: white;
  font-size: 2em;
  margin: 0 auto;
  margin-bottom: 5%;
}

p {
  text-align: center;
}

#bio p  {
  margin-bottom: 15%;
  font-size: 1.85em;
}

.project {
  width: 30%;
  display: inline-block;
  padding: 1%;
}

.project .image-container {
  text-align: center;
}

.project img {
  border-radius: 90px;
  max-width: 100%;
  width: 50%;
}

.project h2 {
  text-align: center;
}

.project p {
  font-size: 1.5em;
}

.project h2:hover {
  background-color: #f8f8f8;
  border-radius: 2px;
}


#skills p {
  width: 25%;
  height: auto;
  background-color: black;
  color: white;
  font-size: 3em;
  float: left;
  font-family: 'Amatica SC', cursive;
  margin: 0 auto;
  margin-top: 15%;
}

#skills span {
  width: 70%;
  font-size: 2em;
  word-spacing: 80px;
  line-height: 1.73em;
  float: right;
  margin-top: 15%;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 10%;
  font-size: 1.3em;
}

footer span {
  margin-left: 5%;
}
