body {
  background-color: #d8eaf0;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  margin-bottom: 60px;
  margin-top: 40px;
  /*background-color: red;*/
  width: 100%;
}


header {
  margin-bottom: 100px;
}


header span {
  font-family: 'Amatica SC', cursive;
  font-size: 2.2em;
}

.headshot {
  width: 300px;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 4px;
}

br {
  margin-bottom: 50px
}


.navbar li{
  list-style: none;
  display: inline;
  padding-right: 15%;
  /*background-color: white;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7em;
  color: #53a6bf;
  text-align: center;

}

.navbar li:hover {
  color: hotpink;
  background-color: #53a6bf;
  border-radius: 2px;
}

.navbar li a {
  text-decoration: none;
}

div {
  /*font-family: 'Didact Gothic', sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
}

#about {
  background-color: black;
  width: 30%;
  height: 60px;
  border-radius: 3px;
  position: absolute;
  margin-top: -100px;
  margin-left: 25%;
  color: white;
  font-size: 1.6em;
  padding-top: 10px;
}

#bio {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
  line-height: 1.8em;
  border: thin solid black;
  height: 230px;
  width: 60%
  margin-bottom: 130px;
  font-size: 1.5em;
  text-align: center;
}

#portfolio {
  font-size: 2.5em;
  margin-bottom: -40px;
  margin-top: 100px;
}


.project img {
  border-radius: 90px;
  margin-bottom: 10px;
}

.project {
  display: inline-block;
  width: 250px;
  height: 360px;
  margin: 100px 20px 0 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project a {
  text-decoration: none;
}

.project h2:hover {
  background-color: #53a6bf;
  border-radius: 2px;
}

#skills {
  margin-top: 100px;

}

#tech {
  width: 200px;
  height: 220px;
  background-color: black;
  color: white;
  font-size: 3em;
  float: left;
  font-family: 'Amatica SC', cursive;
}

#tech-list {
  font-size: 2em;
  word-spacing: 80px;
  line-height: 1.73em;
  float: right;
}

#contact {
  margin-top: 500px;
  font-size: 1.3em;
}
